/FinalProject_Group1Hydrogen/FinalProject_Group1Hydrogen/FinalProject/nbproject/
/FinalProject_Group1Hydrogen/FinalProject_Group1Hydrogen/FinalProject/target/
*/*/*/.jqwik-database
*/*/*/*/*/.netbeans_automatic_build
*/*/*/*/*/.netbeans_aut>

